* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
    font-family: sans-serif; 
    color: gray;
}
body {
    background-image: url(image/netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    height: 1125px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
}
img {
    position: absolute;
    width: 20%;
    /* top: -25px; */
    left: 15px;
    z-index: 1;
    /* width: 16%; */

}
.table {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 450px;
    height: 670px;
    top: 100px;
    left: 460px;
}
h1 {
    color: white;
    padding: 60px 0 0 60px;
    
}
.number {
    /* margin: 15px 15px 0 60px; */
    margin: 7px 60px;
    /* padding: 15px 110px 15px 15px; */
    border-radius: 5px;
    padding: 15px 0;
    width: 74%;
    background-color: rgb(63, 60, 60);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.signin {
    margin: 0 58px;
    /* padding: 15px 255px 15px 15px; */
    padding: 15px 142px 15px 134px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.801);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.tick {
    margin: 10px 0px 10px 60px;
    width: 3%;
}
label {
    font-size: 13px;
}
.help {
    padding-left: 150px;
    font-size: 13px;
    text-decoration: none;
}
.white{
    padding-left: 60px;
    /* font-weight: bold; */
}
.white>p>a {
    padding: 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.black {
    font-size: 13px;
    padding: 0 60px;
}
.black>p>a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(59, 59, 250);
}
.footer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 274px;
    bottom: 0;
    left: 0;
}
.footer>p {
    margin: 30px 170px;
}
.foot {
    display: flex;
    margin: 0 170px;
    gap: 130px;
}
.data>a {
    font-size: 13px;
    text-decoration: none;
}
select {
    margin: 50px 170px;
    padding: 12px 10px;
    color: gray;
    border: 1px solid gray;
    background-color: black;
}